.List {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

.List h2 {
    padding-bottom: 0%;
    margin-bottom: 0%;
}

li {
    margin-left: 25%;
    width: 50%;
    border-radius: 0.5rem;
    list-style-type: none;
    margin-bottom: 0.2rem;
}

.complete {
    background-color: #2BA84A;
}

.Task:hover {
    cursor: pointer;
}

.List button {
    margin-left: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #040F0F;
}