.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Input {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Input input {
  width: 40%;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.btn {
  margin-left: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: white;
}


.main {
  height: auto;
  border: 2px solid black;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  width: 50%;
  padding: 5px;
  background-color: #2D3A3A;
}